.form {
   margin: 10px;
   padding: 1px;
}
input{
    padding: 10px;
    width: 70%;
}
.formButton{
    margin: 20px;
    padding: 10px;
    background-color:#7C0201;
    color: white;
    border-style: groove;
}
